
window {
    margin: 0px;
    border: 5px solid 1e1e2e;
    background-color: rgba(37.702606, 76.79856, 84.4592, 0.9);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(119.55875, 228.9681, 240.35106, 0.9);
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: rgba(2.792335, 2.6168792, 2.9556077, 0.9);
    /* background: ; */
   	outline: none;
    border-radius: 10px;
    margin: 10px 13px;
    margin-bottom: 2px;
}
#input:focus {
    border: 0px solid rgba(227.36832, 214.11362, 214.25023, 0.9);
    background-color: rgba(37.702606, 76.79856, 84.4592, 0.9);
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    border: 1px solid rgba(227.36832, 214.11362, 214.25023, 0.9);
    color: rgba(2.792335, 2.6168792, 2.9556077, 0.9);
    font-weight: bold;
    background-color: rgba(37.702606, 76.79856, 84.4592, 0.9);
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: 1.5px solid rgba(227.36832, 214.11362, 214.25023, 0.9);
    border-radius: 2px;
    background-color: rgba(37.702606, 76.79856, 84.4592, 0.9);
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
}

#img{
    margin-right: 10px;
}

#img:selected {
    background-color: rgba(2.792335, 2.6168792, 2.9556077, 0.9);
    margin-right: 10px;
    border-radius: 10px;
}

#text:selected {
    color: rgb(252.20767, 252.38312, 252.04439);
    background-color: rgba(2.792335, 2.6168792, 2.9556077, 0.9);
    margin: 0px 0px;
    border: none;
    border-radius: 10px;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 5px;
    color: rgb(252.20767, 252.38312, 252.04439);
    background-color: rgba(2.792335, 2.6168792, 2.9556077, 0.9);
}