[Unit]
Description=Auto start automusic
After=network.target

[Service]
ExecStart=bash -c "%h/.local/bin/automusic >> /tmp/automusic.log 2>&1"
Restart=on-failure

[Install]
WantedBy=default.target
