[Unit]
Description=Auto start automusic
After=network.target

[Service]
ExecStart=%h/.local/bin/automusic
Restart=on-failure

[Install]
WantedBy=default.target
